.box-component::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(path/to/image);
  filter: brightness(30%) auto;
  z-index: -1;
}
